/* Header */

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .list-contact {
    display: flex;
    align-items: center;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--active-color);
  }
  .contact {
    margin-left: auto;
  }
  .contact-item:not(:last-child) {
    margin-right: 40px;
  }

  .mail:hover,
  .mail:focus,
  .phone:hover,
  .phone:focus {
    color: var(--active-color);
  }
}
/* Hero section */
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--primary-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop.jpg);
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 2dppx),
    screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-desktop@2x.jpg);
      background-size: cover;
      padding-top: 188px;
      padding-bottom: 188px;
    }
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--primari-page-color);
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Our benefits */
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    align-items: center;
  }
  .benefits-list-item {
    width: 264px;
  }
  .benefits-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .benefits-thumb {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--secondary-page-color);
  }
  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
}
/* What are we doing */
@media screen and (min-width: 1200px) {
  .examples-title {
    width: 323px;
    margin-left: auto;
    margin-right: auto;
  }

  .examples-title,
  .page-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .examples-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .examples-list-item {
    flex-basis: 360px;
  }
}
/* Our Team */
@media screen and (min-width: 1200px) {
  .page-team-list {
    gap: 24px;
  }
}
/* Customers */
@media screen and (min-width: 1200px) {
  .customers-section {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .customers-list {
    gap: 24px;
  }
}
/* Footer */
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wrapper {
    margin-right: 120px;
  }
  .subscribe-wrapper {
    width: 100%;
  }
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .social-media-wrapper {
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 80px;
  }
}
/* Portfolio */
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    margin-bottom: 72px;
  }
}
