/* Header */

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .list-contact {
    display: flex;
    align-items: center;
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--active-color);
  }
  .contact {
    margin-left: auto;
  }
  .contact-item:not(:last-child) {
    margin-right: 40px;
  }

  .mail:hover,
  .mail:focus,
  .phone:hover,
  .phone:focus {
    color: var(--active-color);
  }
}
/* Hero section */
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--primary-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-desktop.jpg);
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-color: var(--primary-text-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-desktop@2.jpg);
      background-size: cover;
      padding-top: 188px;
      padding-bottom: 188px;
    }
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--primari-page-color);
    margin-bottom: 48px;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Our benefits */
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
    align-items: center;
  }
  .benefits-list-item {
    width: 264px;
  }
  .benefits-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .benefits-thumb {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--secondary-page-color);
  }
  .benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
}
