/* Header */

@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--primari-page-color);
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-social-list {
  display: flex;
  justify-content: center;
  gap: 56px;
}
.mobile-menu-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-color);
}
.mobile-menu-social-list-icon {
  fill: var(--secondary-page-color);
}
.mobile-menu-link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.mobile-menu-link-current {
  color: var(--active-color);
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-contact {
  margin-bottom: 48px;
}
.mobile-menu-contact-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-phone {
  display: block;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.mobile-menu-mail {
  display: block;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* Hero section */
@media screen and (max-width: 767px) {
  .hero {
    background-color: var(--primary-text-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg-mobile.jpg);
    background-size: cover;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  @media (min-resolution: 2dppx) {
    .hero {
      background-color: var(--primary-text-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-mobile@2.jpg);
      padding-top: 112px;
      padding-bottom: 112px;
    }
  }
  .hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--primari-page-color);
    margin-bottom: 72px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
