@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contact {
    display: none;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
