/* Header */

@media screen and (min-width: 768px) {
	.container {
		width: 766px;
	}

	.mobile-menu-open {
		display: none;
	}
	.navigation-container {
		display: flex;
		align-items: center;
	}
	.navigation {
		display: flex;
		align-items: center;
	}
	.menu {
		display: flex;
		align-items: center;
	}
	.menu-item:not(:last-child) {
		margin-right: 40px;
	}
	.menu-link {
		display: block;
		position: relative;
		padding-top: 24px;
		padding-bottom: 24px;
		color: var(--primary-text-color);
		font-weight: 500;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.menu-link-current {
		color: var(--active-color);
	}
	.menu-link-current::after {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--active-color);
	}
	.mail,
	.phone {
		padding-top: 24px;
		padding-bottom: 24px;
		font-style: normal;
		color: var(--secondary-text-color);
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
}
/* Hero section */
@media screen and (min-width: 768px) {
	.hero {
		background-color: var(--primary-text-color);
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tablet.jpg);
		background-size: cover;
		padding-top: 112px;
		padding-bottom: 108px;
	}
	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 2dppx),
		screen and (min-resolution: 192dpi) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tablet@2x.jpg);
			background-size: cover;
			padding-top: 112px;
			padding-bottom: 108px;
		}
	}
	.hero-title {
		font-weight: 700;
		font-size: 56px;
		line-height: 1.07;
		color: var(--primari-page-color);
		margin-bottom: 40px;
		width: 496px;
		margin-left: auto;
		margin-right: auto;
	}
}
/* Our benefits */
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.benefits-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.benefits-list-item {
		width: calc(50% - 24px);
		margin-bottom: 72px;
	}

	.benefits-list-item:nth-child(odd) {
		margin-right: 24px;
	}

	.benefits-list-item:nth-child(3),
	.benefits-list-item:nth-child(4) {
		margin-bottom: 0;
	}
}
/* What are we doing */

/* Our Team */
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.page-team-list {
		justify-content: center;
		gap: 64px;
		column-gap: 24px;
	}
}
/* Customers */
@media screen and (min-width: 768px) {
	.customers-list-link {
		width: 168px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.customers-list {
		gap: 72px;
		column-gap: 24px;
	}
}
/* Footer */
@media screen and (min-width: 768px) {
	.subscribe-form-input {
		width: 264px;
	}
	.subscribe-form {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.footer-content {
		display: flex;
		flex-wrap: wrap;
	}
	.subscribe-wrapper {
		margin-left: 108px;
	}
	.footer-wrapper {
		margin-left: 108px;
		margin-right: 24px;
		margin-bottom: 72px;
	}
}
